<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new page</title>
</head>
<body>
    <h1>new page</h1>
    <form method="post" action="/posts">
    <input placeholder="enter username" name="username" type="text">
<textarea placeholder="write content" name="content" type="text"></textarea>    
<button>submit</button>
</form>

</body>
</html>